<div class = "center">
	<div class = "content">
		<div class = "row vert-pad">
			<div class = "left padded">
				<h1>{{ data.soluciones }}</h1>
				<p class = "text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, sapiente! Fuga adipisci molestiae nesciunt laudantium modi perspiciatis illum est. Dignissimos. </p>
			</div>
			<div class = "right padded">
				<h1>Cuéntanos acerca de tu requerimiento: </h1>
				<p class = "text">Envía un mensaje para saber más <a class = "orange" href = "#contacto">haciendo click aquí</a></p>
			</div>
		</div>
	</div>
</div>