<div class = "center padded white-bg">
    <div class = "content padded">
        <div class = "padded">
            <h1>Descarga nuestros software de prueba!</h1>
        </div>
        <div class = "row">
            <div class = "card third">
                <h3>Mailer App</h3>
                <p class = "text">Esta es una aplicación de envío de correos usando la API de SendGrid.</p>
                <a class = "orange" target = "_blank" href = "#">Link aquí</a>
            </div>
            <div class = "card third">
                <h3>Gestor de Clientes</h3>
                <p class = "text">Esta es una aplicación para gestionar clientes.</p>
                <a class = "orange" target = "_blank" href = " {{ url_for('static', filename = 'CRM.exe') }} ">Link aquí</a>
            </div>
            <div class = "card third">
                <h3>Gestor de tareas</h3>
                <p class = "text">Esta es una aplicación para gestionar tareas pendientes.</p>
                <a class = "orange" target = "_blank" href = " {{ url_for('static', filename = 'todolist.exe' ) }} ">Link aquí</a>
            </div>
        </div>
    </div>
</div>